*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.style1{
	height: 600px;
	width: 1550px;
	background-image: url("restaurant.jpg");
	opacity: 0.85;
}
#resname{
	height: 50px;
	width: 100px;
	color: white;
	font-size: 35px;
	font-family: 'Ballet', cursive;
	font-weight: bolder;
	position: relative;
	left: 700px;
	top: 50px;
}
#front1{
	height: 100px;
	width: 100%;
	/*background-color: green;*/
	text-align: center;
	position: relative;
	/*left: 450px;*/
	top: 80px;
	word-spacing: 30px;
	color: white;
}
#front2{
	height: 80px;
	width: 1000px;
	position: relative;
	left: 300px;
	top: 100px;
	color: white;
	font-size: 60px;
	font-family: 'Lobster', cursive;
	font-weight: 500px;
	word-spacing: 15px;
}
#front3{
	height: 50px;
	width: 200px;
	font-family: 'Lobster', cursive;
	position: relative;
	left: 570px;
	top: 80px;
	color: white;
	font-size: 60px;
	font-weight: 500px;
}
#front4{
	height: 50px;
	width: 300px;
	font-family: 'Lobster', cursive;
	position: relative;
	left: 570px;
	top: 120px;
	color: white;
	font-size: 23px;
	font-weight: normal;
	word-spacing: 5px;
}
ul#liststyle li{
	display: inline;
}
#link{
	color: white;
	text-decoration: none;
	border-bottom: 2px solid red;
}
.link1{
	color: white;
	text-decoration: none;
}
#sub-menu{
	height: 100px;
	width: 80px;
	display: none;
}
#front1 ul li:hover #sub-menu{
	display: block;
	position: absolute;
	background: white;
	margin-top: 15px;
	margin-left: 650px;
}
#front1 ul li:hover #sub-menu ul{
	display: block;
	margin: 10px;
}
.therestaurant{
	height: 800px;
	width: 100%;
	background-color: #171717;
}
#pic1{
	height: 450px;
	width: 800px;
	background-image: url("hero_1.jpg");
	position: relative;
	top: 130px;
}
#aboutres{
	height: 500px;
	width: 500px;
	background-color: #171717;
	position: relative;
	left: 150px;
	top: 130px;
}
.therestaurant div{
	float: left;
}
#handw1{
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
}
#handw2{
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 800px;
	position: relative;
	top: 20px;
	color: white
}
#handw3{
	font-size: 18px;
	font-family: sans-serif;
	font-weight: 800px;
	position: relative;
	top: 50px;
	color: white;
}
#handw4{
	height: 50px;
	width: 150px;
	border: 2px solid red;
	border-color: red;
	position: relative;
	top: 100px;
	font-size: 14px;
	text-align: center;
	font-weight: 600px;
	color: white;
	background-color: #171717;
}
#space{
	position: relative;
	top: 13px;
	color: white;
	text-decoration: none;
}
#handw4 a:hover{
	color: red;
}
.todaysmenu{
	height: 400px;
	width: 100%;
	background-color: #171717;
	color: white;
}
#style2{
	position: relative;
	left: 70px;
	top: 50px;
	font-size: 30px;
}
#style3{
	position: relative;
	left: 70px;
	top: 70px;
	font-size: 18px;
	color: grey;
}
.menuitem{
	height: 800px;
	width: 100%;
	background-color: #171717;
}
#style4{
	height: 220px;
	width: 270px;
	background-image: url("resize-1612196157167125420gallery9.jpg");
	position: relative;
	left: 150px;
	top: 10px;
}
#style5{
	height: 220px;
	width: 270px;
	background-image: url("resize-1612196259400617815gallery8.jpg");
	position: relative;
	left: 200px;
	top: 200px;
}
#style6{
	height: 220px;
	width: 270px;
	background-image: url("resize-1612196369483645163gallery7.jpg");
	position: relative;
	left: 250px;
	top: 10px;
}
#style7{
	height: 220px;
	width: 270px;
	background-image: url("resize-1612196451165612793gallery6.jpg");
	position: relative;
	left: 150px;
	position: relative;
	left: 300px;
	top: 200px;
}
#style8{
	height: 220px;
	width: 270px;
	background-color: #171717;
	clear: left;
	position: relative;
	left: 150px;
	top: 50px;
}
#style9{
	height: 220px;
	width: 270px;
	background-color: #171717;
	position: relative;
	left: 200px;
	top: 240px;
}
#style10{
	height: 220px;
	width: 270px;
	background-color: #171717;
	position: relative;
	left: 250px;
	top: 50px;
}
#style11{
	height: 220px;
	width: 270px;
	background-color: #171717;
	position: relative;
	left: 300px;
	top: 240px;
}
.menuitem div{
	float: left;
}
.size1{
	font-size: 20px;
	color: white;
}
.size2{
	color: white;
	font-size: 20px;
	position: relative;
	top: 15px;
}
.size3{
	font-size: 17px;
	position: relative;
	top: 30px;
	color: grey;
}
.testimony{
	height: 300px;
	width: 100%;
	background-color: #171717;
}
#style12{
	position: relative;
	left: 150px;
	top: 50px;
	font-size: 25px;
	color: white;
}
#style13{
	position: relative;
	top: 100px;
	left: 150px;
	font-size: 18px;
	color: gray;
}
.realtestimony{
	height: 1000px;
	width: 100%;
	background-color: #171717;
}
.realtestimony div{
	float: left;
}
#style14{
	height: 724px;
	width: 800px;
	background-image: url("person_1.jpg");
	position: relative;
	top: 50px;
	left: 100px;
}
#style15{
	height: 350px;
	width: 550px;
	/*background-color: green;*/
	position: relative;
	top: 200px;
	right: 100px;
}
#liststyle a:hover{
	color: red;
}
#fontstyle1{
	font-size: 30px;
	color: white;
}
#fontstyle2{
	color: white;
	font-size: 25px;
	position: relative;
	top: 35px;
}
.bestmenu{
	height: 800px;
	width: 100%;
	background-color: #171717;
}
.bestmenu div{
	float: left;
}
#style16{
	height: 100px;
	width: 550px;
	background-color: #171717;
	position: relative;
	left: 150px;
	top: 50px;
}
#style17{
	height: 600px;
	width: 600px;
	background-image: url("resize-16122844531107702816stilu2Lp8tXIcjwunsplash.jpg");
    position: relative;
    top: 50px;
    left: 300px;
}
#style18{
	height: 200px;
	width: 400px;
	background-color: #171717;
	position: relative;
	bottom: 300px;
	left: 300px;
    clear: left;
}
#menu1{
	font-size: 25px;
	color: white;
}
#menu2{
	font-size: 16px;
	color: gray;
	position: relative;
	top: 20px;
}
#menu3{
	color: white;
	font-size: 25px;
	font-family: serif;
}
#menu4{
	color: gray;
	font-size: 16px;
	position: relative;
	top: 20px;
}
#menu5{
	height: 50px;
	width: 150px;
	text-align: center;
	padding: 13px;
	color: white;
	border: 2px solid red;
	position: relative;
	top: 60px;
	font-size: 14px;
}
.style19{
	height: 400px;
	width: 100%;
	background-color: #171717;
}
#event1{
	height: 50px;
	width: 150px;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	color: white;
	background-color: #171717;
	position: relative;
	left: 38%;
	top: 30px;
}
#event2{
	height: 100px;
	width: 700px;
	background-color: #171717;
	color: gray;
	position: relative;
	top: 50px;
	left: 350px;
	line-height: 1.6;
}
#space2{
	position: relative;
	left: 70px;
}
.style20{
	height: 800px;
	width: 100%;
	background-color: #171717;
}
.style20 div{
	float: left;
}
#event3{
	height: 300px;
	width: 350px;
	background-image: url("resize-1612621738680955819dangoldE6HjQaB7UEAunsplash.jpg");
	position: relative;
	left: 190px;
}
#event4{
	height: 300px;
	width: 350px;
	background-image: url("resize-16126216661442280885desrecitsNaKwyyh849ounsplash.jpg");
	position: relative;
	left: 220px;
}
#event5{
	height: 300px;
	width: 350px;
	background-image: url("resize-16126216161660305036pablomerchanmontesdcJMu8lb5Uunsplash.jpg");
	position: relative;
	left: 250px;
}
#event6{
	height: 300px;
	width: 350px;
	background-color: #212121;
	clear: left;
	position: relative;
	left: 190px;
	padding: 20px;
}
#event7{
	height: 300px;
	width: 350px;
	background-color: #212121;
	position: relative;
	left: 220px;
	padding: 20px;
}
#event8{
	height: 300px;
	width: 350px;
	background-color: #212121;
	position: relative;
	left: 250px;
	padding: 20px;
}
.photoshoot{
	color: white;
	font-weight: 800px;
	font-size: 25px;
	margin-top: 60px;
	margin-bottom: 15px;
}
.faraway{
	color: gray;
	font-size: 16px;
	line-height: 30px;
}
.readmore{
	color: red;
	text-decoration: none;
	font-size: 18px;
	line-height: 70px;
}
.style21{
	height: 500px;
	width: 100%;
	background-image: url("resize-1613574870598480896pexelsrachelclaire4577179.jpg");
}
#booking1{
	height: 50px;
	width: 250px;
	position: relative;
	top: 80px;
	left: 550px;
	font-size: 28px;
	text-align: center;
	color: white;
}
#booking2{
	height: 120px;
	width: 700px;
	line-height: 25px;
	font-size: 18px;
	position: relative;
	left: 350px;
	top: 100px;
	color: gray;
}
#booking3{
	height: 50px;
	width: 150px;
	position: relative;
	top: 100px;
	left: 600px;
}
#space3{
	position: relative;
	left: 170px;
}
#textstyle{
	height: 50px;
	width: 150px;
	padding: 12px;
	text-align: center;
    font-size: 16px;
	color: white;
	border: 2px solid red;
}
#textstyle2{
	text-decoration: none;
	color: white;
}
#booking3 a:hover{
	color: red;
}
.style22{
	height: 700px;
	width: 100%;
	background-color: #212121;
}
.style22 div{
	float: left;
}
#final1{
	height: 130px;
	width: 350px;
	padding: 20px;
	background-color: #212121;
	position: relative;
	top: 100px;
	left: 200px;
	line-height: 20px;
}
#final2{
	height: 180px;
	width: 120px;
	padding: 20px;
	background-color: #212121;
	position: relative;
	top: 100px;
	left: 220px;
	line-height: 25px;
}
#final3{
	height: 200px;
	width: 140px;
	padding: 20px;
	background-color: #212121;
	position: relative;
	top: 100px;
	left: 240px;
	line-height: 25px;
}
#final4{
	height: 180px;
	width: 250px;
	background-color: #212121;
	position: relative;
	top: 100px;
	left: 260px;
	padding: 20px;
	line-height: 25px;
}
#final5{
	height: 60px;
	width: 350px;
	background-color: #212121;
	clear: left;
	position: relative;
	top: 250px;
	left: 500px;
	color: gray;
}
#final6{
	height: 50px;
	width: 400px;
	background-color: #212121;
	position: relative;
	top: 280px;
	left: 555px;
	clear: left;
	position: relative;
}
#space4{
	margin-bottom: 20px;
	color: white;
}
#space5{
	color: gray;
}
.textstyle3{
	color: white;
	margin-bottom: 15px;
}
.textstyle4{
	text-decoration: none;
	color: gray;
}
.liststyle{
	list-style-type: none;
	list-style: none;
}
.liststyle a:hover{
	color: red;
	text-decoration: underline;
}
#textstyle5{
	color: white;
	margin-bottom: 20px;
}
.textstyle6{
	color: gray;
}
#textstyle7{
	position: relative;
	left: 30px;
}
#color1{
	height: 35px;
	width: 35px;
	position: relative;
	left: 10px;
}
#color2{
	height: 35px;
	width: 35px;
	position: relative;
	left: 30px;
}
#color3{
	height: 35px;
	width: 35px;
	position: relative;
	left: 50px;
}
#color4{
	height: 35px;
	width: 35px;
	position: relative;
	left: 70px;
}